DATABASE_URL="postgresql://<usuario>:<senha>@localhost:5432/capas?schema=public"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
NEXT_PUBLIC_BETTER_AUTH_URL=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
